@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

.lexend {
  font-family: "Lexend", sans-serif;
}

.btn-primary {
  background-color: rgba(180, 244, 97, 1);
}
.text-color {
  color: rgba(17, 17, 17, 0.7);
}
