@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

.lexend {
  font-family: "Lexend", sans-serif;
}

.skybg {
  background-color: #c4d7ff;
}
.text-color {
  color: rgba(17, 17, 17, 0.7);
}
/* <!-- HTML !-->
<button class="button-3" role="button">Button 3</button> */

/* CSS */
.button-3 {
  appearance: none;
  background-color: #87a2ff;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #87a2ff;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #c4d7ff;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-3:active {
  background-color: #87a2ff;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
